<div class="content3">
    <div id="fullImageBox" class="fullImageBox">
        <div class="imgWrapper">
            <span (click)="changeImage('previous')" class="left">❮</span>
            <img src="../../../../assets/img1ol.jpeg" id="fullImage">
            <span (click)="changeImage('next')" class="right">❯</span>
        </div>
        <span class="close" (click)="closeFullImg()">X</span>
    </div>
    <div class="gallery">
        <div class="title" id="gallery" ><h2>Galeria</h2></div>
        <div class="firstImages">
            <img class="galleryImage1" src="../../../../assets/img1ol.jpeg" alt="" (click)="openFullImg('../../../../assets/img1.jpeg')">
            <img class="galleryImage2" src="../../../../assets/img2ol.jpeg" alt="" (click)="openFullImg('../../../../assets/img2.jpeg')">
            <img class="galleryImage3" src="../../../../assets/img3ol.jpeg" alt="" (click)="openFullImg('../../../../assets/img3.jpeg')">
        </div>
        <div class="lastImages">
            <img class="galleryImage4" src="../../../../assets/img4ol.jpeg" alt="" (click)="openFullImg('../../../../assets/img4.jpeg')">
            <img class="galleryImage5" src="../../../../assets/img5ol.jpeg" alt="" (click)="openFullImg('../../../../assets/img5.jpeg')">
            <img class="galleryImage6" src="../../../../assets/img6ol.jpeg" alt="" (click)="openFullImg('../../../../assets/img6.jpeg')">
        </div>
    </div>
</div>
