<div class="content4">
    <div class="time">
        <div class="title" id="time" ><h2>Horários</h2></div>
        <div class="times">
            <div class="openTime1"><p class="alt1 days">Segunda a sexta</p> <p class="hours">06h00 às 23h00</p></div>
            <div class="openTime2"><p class="alt1 days">Sábado / Feriados</p> <p class="hours">08h00 às 12h00</p></div>
            <div class="bottomTime"><p class="alt notOpen">Não abrimos aos domingos</p></div>
        </div>
    </div>
        <div class="planPrices">
            <div class="title" id="plans"><h2>Planos e Preços</h2></div>
            <div class="planCards">
                <div class="planCard" *ngFor="let plan of plans">
                    <div class="planTitle"><p class="alt1">{{ plan.title }}</p></div>
                    <div class="monthly"><p class="month">{{ plan.monthly.label }}</p><h3>{{ plan.monthly.price }}</h3></div>
                    <div class="semiannual"><p class="month">{{ plan.semiannual.label }}</p><h3>{{ plan.semiannual.price }}<p class="alt inline" style="color: black" *ngIf="plan.semiannual.perMonthNote">{{ plan.semiannual.perMonthNote }}</p></h3></div>
                </div>
            </div>
            <div class="subtitle">
                <div class="disclaimerDiv" *ngFor="let text of disclaimers; let i = index" [ngClass]="{ 'first': i === 0 }">
                    <p class="alt disclaimer" [innerHTML]="text"></p>
                </div>
                <form [attr.action]="pricesPdfPath" method="get" target="blank">
                    <button class="seePlans"><p class="alt1">Ver todas as opções</p></button>
                </form>
            </div>
        </div>
</div>
