<div class="footerWrapper">
    <div class="footer">
        <div class="image"><img routerLink="/" (click)="scrollTo('top')" id="logo" src="../../../../assets/logo.png" alt="logo"></div>
        <div class="list">
            <ul>
                <li class="text" (click)="scrollTo('about')"><p>Sobre</p></li>
                <li class="text" (click)="scrollTo('services')"><p>Serviços</p></li>
                <li class="text" (click)="scrollTo('gallery')"><p>Galeria</p></li>
                <li class="text" (click)="scrollTo('time')"><p>Horários</p></li>
                <li class="text" (click)="scrollTo('plans')"><p>Preços</p></li>
                <li class="text" (click)="scrollTo('bolao')"><p>Bolão</p></li>
                <li class="text" (click)="scrollTo('content2')"><p>Contato</p></li>
            <li class="icon"><a href="https://www.instagram.com/workoutgymfloripa/" target="_blank">
                <img src="../../../../assets/instagramIcon.png" alt="">
            </a>
            </li>
            <li class="icon facebook"><a href="https://www.facebook.com/WorkoutGymFloripa" target="_blank">
                <img src="../../../../assets/facebookIcon.png" alt="">
            </a>
        </li>
    </ul>
</div>
</div>
</div>
