<app-nav-bolao></app-nav-bolao>
<section class="bolao anim" id="content1">
    <div class="desPrice">
        <div class="description">
                <h1>Bolão Brasileirão</h1>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/res/resultados.htm" target="_blank">Resultados</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/class_rod/classificacaoGeral.htm" target="_blank">Classificação Geral</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/class_rod/classificacaoAvai.htm" target="_blank">Classificação Avaí</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/class_rod/classificacaoChapecoense.htm" target="_blank">Classificação Chapecoense</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/class_rod/classificacaoCriciuma.htm" target="_blank">Classificação Criciúma</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/class_rod/classificacao.htm" target="_blank">Classificação por Rodada</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/regul.htm" target="_blank">Regulamento</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/premio.htm" target="_blank">Premiação</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/down/rodada.xls" target="_blank">Palpites 1º Turno (Download)</a>
                <a href="https://workoutgym.com.br/bolaoBrasileirao/down/rodada2.xls" target="_blank">Palpites 2º Turno (Download)</a>
        </div>
    </div>
    <div class="image"><img src="../../../../assets/imgbrasileirao" alt=""></div>
</section>