<app-nav-bolao-copa></app-nav-bolao-copa> 
<section class="bolao anim" id="content1">
    <div class="desPrice">
        <div class="description">
            <h1>Bolão Copa do Mundo</h1>
            <a href="https://workoutgym.com.br/bolaoCopa/resultados.htm" target="_blank">Resultados</a>
            <a href="https://workoutgym.com.br/bolaoCopa/classificacao.htm" target="_blank">Classificação Geral</a>
            <a href="https://workoutgym.com.br/bolaoCopa/regulamento.htm" target="_blank">Regulamento</a>
            <a href="https://workoutgym.com.br/bolaoCopa/premiacao.htm " target="_blank">Premiação</a>
        </div>
    </div>
    <div class="image"><img src="../../../../assets/imgcopa.png" alt=""></div>
</section>