<section class="content1 anim" id="content1">
    <div class="desPrice">
        <div class="description">
            <h2>Musculação/Pilates</h2>
            <h1>Atinja a sua melhor versão</h1>
            <p class="textDescription">Seja para se manter saudável ou conseguir o corpo que sempre quis, a nossa equipe está aqui para ajudar você a alcançar os seus objetivos!</p>
        </div>
        <div class="price">
            <p class="alt top">Musculação a partir de</p>
            <h3>R$109,90</h3>
            <p class="alt inline">/mês no plano anual</p>
                <button (click)="scrollTo('plans')" class="seePlans"><p class="alt1">Ver planos</p></button>
        </div>
    </div>
    <div class="image"><img src="../../../../assets/woman.png" alt=""></div>
</section>

