<div class="content anim">
    <div class="cardPlans">
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
        <div class="card">
            <div class="title">
                <span>Musculação Livre</span>
            </div>
            <div class="value">
                <sup>R$</sup>
                <span>130,00</span>
            </div>
            <div class="mensal">
                <span class="mensal">mensal</span>
            </div>
        </div>
    </div>
</div>