.content {
    width: 100vw;
    height: 150%;
    padding-top:12.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardPlans {
    padding-left: 4.9vw;
    padding-top: 8vh;
    width: 70%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    width: 70%;
    height: 50%;
    display: block;
    padding: 20px;
    background-color: aqua;
}

.title {
    width: 100%;
    height: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
}

.value {
    width: 100%;
    height: 40%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
}

.mensal {
    width: 100%;
    height: 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
}

sup {
    padding-right: 0.1vw;
}