<div class="content2">
    <div class="image">
        <img src="../../../../assets/womanTraining.png" alt="">
    </div>
    <div class="about" id="about">
        <ul>
            <h2>Sobre a academia</h2>
            <li class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Vestiários espaçosos e higiênicos</p>
            </li>
            <li id="two" class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Armários individuais</p>
            </li>
            <li id="three"class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Aluguel de toalhas</p>
            </li>
            <li class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Espaço de musculação amplo e completo</p>
            </li>
            <li id="five" class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Climatizado (ar-condicionado)</p>
            </li>
            <li class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">3 Salas de pilates amplas e modernas</p>
            </li>
            <li id="seven" class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Wi-Fi</p>
            </li>
            <li id="eight" class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Recepção informatizada</p>
            </li>
            <li id="nine" class="icon">
                    <i class="fa fa-check-circle">
                    </i>
                    <p class= "description">Descontos para sócios da Astel</p>
            </li>
            <form action="../../../../assets/regulamento.pdf" method="get" target="blank">
                <button class="regulation">
                    <img class="downloadIcon" src="../../../../assets/downloadIcon.png" alt="">
                    <p class="alt1">Contrato de adesão</p></button>
            </form>
        </ul>
    </div>
    <div class="services" id="services">
        <div class="option">
            <img class="imgOption" src="../../../../assets/personalTrainer.png" alt="">
            <p class="alt1 textOption">Personal Trainer</p>
        </div>
        <div class="option">
            <img class="imgOption" src="../../../../assets/avaliacaoFisica.png" alt="">
            <p class="alt1 textOption">Avaliação Física</p>
        </div>
        <div class="option">
            <img class="imgOption" src="../../../../assets/avaliacaoNutricional.png" alt="">
            <p class="alt1 textOption">Avaliação Nutricional</p>
        </div>
        <div class="option">
            <img class="imgOption" src="../../../../assets/moneyIcon.png" alt="">
            <p class="alt1 textOption">Descontos Sócios Astel</p>
        </div>
    </div>
</div>